body { 
    background-color: burlywood;
}

#container {
    background-color: darkkhaki;
    width: 65%; 
    margin: 4% auto;
    border: 80% solid black;
    padding: 40px auto;
}

img {
    display: block auto;
    margin: 0 auto;
    width: 65%; 
    background-color: darkkhaki;
    border: 2px solid rgb(63, 70, 27)
}

nav {
    text-align: center;
    margin: 20px 0;
    background-color:wheat;
    padding: 5px; 
    border-radius: 30px;
}

p {
    text-align: center;
}
nav a {
    font-size: 24px;
    color: black
    
}

nav a:hover {
    text-decoration: none; 
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav li {
    display: inline-block;
} 

nav li a { 
    display: block; 
color:rgb(63, 70, 27);
font-size: 24px;
font-weight: bold;
text-decoration: none; 
width: 125px;
height: 40px;
line-height: 40px;
}

nav a:hover {
    background-color: white;
    color: black;
    
}

img { 
    width: 450px;
    height: 300px;
}

* {
    box-sizing: border-box;
}

.column { 
    float: left;
    width: 50%;
   padding: 35px;
   background-color: darkkhaki;

}


.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: darkkhaki;
}


.column {
    float: left;
    width: 50%;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    column-count:2
  }
.column {
    background-color: wheat;
    border: 10px solid rgb(63, 70, 27);
}




h1,
h2,
h3,
footer { text-align: center;
}

/* my head hurts so bad */

