body { 
    background-color: burlywood;
}



#container {
    background-color: darkkhaki;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black
}

img {
    display: block;
    margin: 0 auto;
    width: 1000px; 
    background-color: darkkhaki;
    border: 2px solid rgb(63, 70, 27)


}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    font-size: 24px;
    color: black
    
}

nav a:hover {
    text-decoration: none; 
}