/* Global Styles */

a:hover {
    color:aquamarine;
    font-size: 30px;
}

.Audio {
   margin: auto;
   margin-left: 40%;
   margin-right: 40%;
}

body {
    background-color:rgb(233, 168, 103);
}

/* Phone styles */ 


img {
    width: 90%;
    height: auto;
    background-color: #7abdcd;
    border: black solid 2px;
}



.col {
    width: 90%;
    margin: 10px;
}

.col img {
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}


nav {
    background-color: #7abdcd;
  border: black solid 2px;
  text-align: center;
  line-height: 100px;
  margin-top: 50px;

}


nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav li {
    display: block;
}

nav li a {
    display: block;
    color: black;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    display: inline;
}



 
.p {
    font-family:'Times New Roman', Times, serif;
}


h1 { 
    text-align: center;
    font-family:'Times New Roman', Times, serif;}
h2 { 
    text-align: center;  
    font-family:'Times New Roman', Times, serif;}
h3 {  
    text-align: center;
    font-family:'Times New Roman', Times, serif;}



img { 

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border: black solid 4px;
    background-color: #7abdcd;
}


a:hover {
    color:aquamarine;
    font-size: 20px;
}


.Bodyone { 
    text-align: center;
    background-color: #7abdcd;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.Bodytwo { 
    text-align: center;
    background-color: #7abdcd;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.Bodythree { 
    text-align: center;
    text-align: center;
    background-color: #7abdcd;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}




.Bodyone { 
    text-align: center;
    background-color: #7abdcd;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.Bodytwo { 
    text-align: center;
    background-color: #7abdcd;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.Bodythree { 
    text-align: center;
    text-align: center;
    background-color: #7abdcd;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}













/* AAAH */


@media (min-width: 1024px) {
    #upper {
        display: flex;
    }
    
    .col {
        width: 50%;
        margin: 10px;
    }
    
    .col img {
        width: 100%;
        height: auto;
    }
    
    
    nav {
        background-color: #7abdcd;
      border: black solid 2px;
      text-align: center;
      line-height: 100px;
      margin-top: 30%;
      margin-bottom: 20%;


    
    }
    
    
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav li {
        display: inline;
    }
    
    nav li a {
        color: black;
        font-size: 20px;
        font-family:'Times New Roman', Times, serif;
        display: inline;
    }
    
    
    
    .p {
        font-family:'Times New Roman', Times, serif;
    }
    
    
    h1 { 
        text-align: center;
        font-family:'Times New Roman', Times, serif;}
    h2 { 
        text-align: center;  
        font-family:'Times New Roman', Times, serif;}
    h3 {  
        text-align: center;
        font-family:'Times New Roman', Times, serif;}
    
    .link {
        width: 55%;
        height: auto;
        margin: 0 auto;
    }
    
    img { 
        height: 10%;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: black solid 4px;
        background-color: #7abdcd;
    }
    
    
    a:hover {
        color:aquamarine;
        font-size: 20px;
    }
    
    
    .Bodyone { 
        text-align: center;
        background-color: #7abdcd;
        color: black;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
    }
    
    .Bodytwo { 
        text-align: center;
        background-color: #7abdcd;
        color: black;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
    }
    
    .Bodythree { 
        text-align: center;
        text-align: center;
        background-color: #7abdcd;
        color: black;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
    }
}